*{margin: 0; padding: 0;}
body{ 
    
    font-family: arial, helvetica, sans-serif; 
    font-size: 15px; 
    font-style: italic; 
    font-style: inherit;
     background-image: url(pets/fofura.jpg); 
     background-size:cover; 

 }

 .menu{
  list-style:none; 
  border:1px solid #c0c0c0; 
  float:left; 
  font-weight: bold;
  }
  .menu li{
   position:relative;
    float:left;
  border-right:1px solid #c0c0c0;
  } 
  .menu li a{color:#f60d0d; text-decoration:none; padding:5px 10px; display:block;
        
   }
  .menu li a:hover{
  background:#df9696;
  color:#f81111;
  -moz-box-shadow:0 3px 10px 0 #f27171; 
  -webkit-box-shadow:0 3px 10px 0 #e91b1b;
   text-shadow:0px 0px 5px #ffffff;
  } 
          .menu li ul{
         position:absolute; 
           top:25px; 
          left:0;
           background-color:#f07e7e;
           display:none;
             }
          .menu li:hover ul, .menu li.over ul{ display:block;} 
            
            .menu li ul li{
            border:1px solid #f5f1f1;
             display:block; 
            width:150px;
              }
                h1{ 
                 color:rgb(248, 9, 9);
                 font-size:x-large ; 
                text-align:center; 
                font-size:35px;
                font-style:italic; 
                font-family:Georgia,'Times New Roman', Times, serif; 
                }
